<div class="item">
  <p>
    <%= image_tag "avatars/avatar12.jpg", class: "img-circle" %>
  </p>
  <blockquote class="no-symbol">
    <p><%= t ".content_1" %></p>
    <footer><strong><%= t ".content_2" %></strong>
      <%= t ".content_3" %></footer>
  </blockquote>
</div>
