          <div class ="clear"></div>
          <div class= "margin-top"></div>
          <div class="botlast">
            <div class="secondlast">
              <div class="vooter">
                <%= email_image_tag "framgia.png", class: "img-lastss"  %>
              </div>
              <div class="bottom-high">
                <p style="" class="font-last">
                  <%= t ".address" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
