<div class="container">
  <div class="body-build">
    <div class="body-first">
      <div class="first-a">
        <div class="start-body">
          <div class="a-left">
            <a>
              <%= yield :image_company %>
            </a>
            <div class="month">
              <%= t ".framgia" %>
            </div>
          </div>
        </div>
        <div class="clear-both"></div>
      </div>
      <div class="c-first"></div>
      <div class="b-body">
        <div class="menu-body">
