<% if @notifications.blank? %>
  <p class="text-danger text-center"><i><%= t ".not_notification" %></i></p>
<% else  %>
  <%= render partial: "notifications/notification",
    collection: @notifications, as: :notification %>
<% end %>
