<li>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="notify-img">
      <%= image_tag notification.user_picture.url,
        width: Settings.picture_user_width,
        height: Settings.picture_user_height %>
    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
    <p><%= notification.content %>
      <%= link_to notification.user_name, notification.user %></p>
    <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
    <p class="time"><%= t "time_ago", time: time_ago_in_words(notification.created_at) %></p>
  </div>
</li>
