@import 'color';

.error-message {
 color: red;
 }
.not_found_apply{
  text-align: center;
  color: red;
  font-size: 1.2em;
}
.tbl-user-member {
  overflow: auto;
}
.tbl-user-member thead{
  background-color: white;
}
.nested-fields {
  margin-bottom: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.not-active {
  pointer-events: none;
  cursor: default;
}

.text-template {
  line-height: 28px;
}

.view-template {
  border: 1px solid $gray-light-3 !important;
  overflow: auto;
}

.img-avatar {
  width: 85%;
  height: 85%;
}

.social-title{
  width: 50%;
}

.pdf-content {
  width: 100%;
  min-height: 750px;
}

.block-content {
  min-height: 750px;
}

.btn-close {
  margin-left: 5px;
}

.select-box-apply-template {
  padding-top: 5px;
}

#show-view-calendar {
  border: 1px solid $dark-gray-light-1;
}

.calendar-content-apply {
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-info {
  background-color: $blue-light-11 !important;
}

.well {
  background-color: $white;
}

.send_email_form{
  margin-bottom: 0px;
}
