@import 'color';

.error {
 color: red;

}
.error-message {
  color: red;
 }
.not_found_apply{
  text-align: center;
  color: red;
  font-size: 1.2em;
}
.tbl-user-member {
  overflow: auto;
}
.tbl-user-member thead{
  background-color: white;
}
.nested-fields {
  margin-bottom: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.not-active {
  pointer-events: none;
  cursor: default;
}

.text-template {
  line-height: 28px;
}

.view-template {
  border: 1px solid $gray-light-3 !important;
  overflow: auto;
}

.img-avatar {
  width: 85%;
  height: 85%;
}

.social-title{
  width: 50%;
}

.pdf-content {
  width: 100%;
  min-height: 750px;
}

.btn-close {
  margin-left: 5px;
}

.select-box-apply-template {
  padding-top: 5px;
}

#show-view-calendar {
  border: 1px solid $dark-gray-light-1;
}

.calendar-content-apply {
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-info {
  background-color: $blue-light-11 !important;
}

.well {
  background-color: $white;
}

.send_email_form {
  margin-bottom: 0px;
}

.send-mail-custom {
  margin-left: 20px;
}

.thumbnail-cv {
  display: block;
  height: 250px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.d-inline-block {
  display: inline-block;
}

.w125 {
  width: 125px;
}

.h524 {
  min-height: 524px;
}

.w55 {
  width: 55px;
}

.h440 {
  min-height: 440px;
}

form.form-search {
  width: 550px;
  position: relative;
  top: 10px;
}

.area-progress {
  overflow: auto;
}

.btn-handling {
  margin-bottom: 10px;
}

.btn-apply {
  padding: 0;
}

.btn-apply-submit {
  display: none;
}

.area-cv embed {
  width: 100%;
  height: 100%;
  border: 1px solid $dark-gray-light-1;
}

.timeline-list:after {
  left: 220px;
}

.timeline-list .timeline-icon {
  left: 206px;
}

.timeline-list .timeline-content {
  margin-left: 260px;
}

.timeline-list .timeline-time {
  width: 160px;
  margin-left: 15px;
  font-size: 12px;
  color: $dark-gray-light;
}

.not_selected {
  background: $red-light2 !important;
  border-color: $red-light2 !important;
}

.pending {
  background: $yellow-light !important;
  border-color: $yellow-light !important;
}

.accepted {
  background: $green-light-2 !important;
  border-color: $green-light-2 !important;
}

.scheduled {
  background: $blue-light-14 !important;
  border-color: $blue-light-14 !important;
}

.font-weight-normal {
    font-weight: normal;
    font-style: italic;
}

.font-size-10 {
  font-size: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
