@import 'color';
.text-tile {
  color: $dark-gray-light;
}
.notify-logo {
  position: relative;
  top: 2px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 0;
  width: 0;
  height: 30px;
}
.dropdown-menu.notify-drop {
  width: 330px;
  background-color: $white;
  min-height: 30px;
  max-height: 360px;
  left: -270px;
  .notify-drop-title {
    border-bottom: 1px solid $dark-gray;
    padding: 5px 15px 10px;
    color: $dark-gray-light !important;
  }
  .drop-content {
    min-height: 30px;
    max-height: 280px;
    overflow-y: scroll;
    > li {
      border-bottom: 1px solid $dark-gray;
      padding: 10px 0 5px;
      font-weight: bold;
      font-size: 11px;
      min-height: 80px;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &:hover {
        background-color: $gray-light-1;
      }
      &:last-child {
        border-bottom: none;
      }
      .notify-img {
        float: left;
        display: inline-block;
        width: 45px;
        height: 45px;
        margin: 0 0 8px 0;
      }
      a {
        font-size: 12px;
        font-weight: normal;
      }
      hr {
        margin: 5px 0;
        width: 70%;
        border-color: $gray-light-1;
      }
      p {
        font-size: 11px;
        color: $black;
        font-weight: normal;
        margin: 3px 0;
        &.time {
          font-size: 10px;
          font-weight: 600;
          top: -6px;
          margin: 8px 0 0;
          padding: 0 3px;
          border: 1px solid $gray-light-1;
          position: relative;
          background-image: linear-gradient($white, $gray-light-3);
          display: inline-block;
          border-radius: 2px;
          color: $moderate-orange;
          &:hover {
            background-image: linear-gradient($white, $white);
          }
        }
      }
    }
    .pd-l0 {
      padding-left: 0;
    }
  }
  .drop-content::-webkit-scrollbar-track {
    background-color: $gray-light-2;
  }
  .drop-content::-webkit-scrollbar {
    width: 8px;
    background-color: $gray-light-2;
  }
  .drop-content::-webkit-scrollbar-thumb {
    background-color: $gray80;
  }
  .all-read {
    margin-right: 7px;
    width: 146px;
    float: right;
    color: $gray-medium-1 !important;
    &:hover {
      color: $gray-dark-hard-1;
    }
  }
  .notify-drop-footer {
    border-top: 1px solid $gray-light-1;
    bottom: 0;
    position: relative;
    padding: 8px 15px;
    background-color: $gray-light-2;
    a {
      color: $dark-gray-light !important;
      text-decoration: none;
      &:hover {
        color: $gray-dark-hard-1;
      }
    }
  }
}
a.animation-floating {
  padding-bottom: 5px !important;
}
.widget.widget_icl_lang_sel_widget.notify-logo-1 {
  width: 10px;
}
.notification {
  cursor: pointer;
}
.counter-notification {
  position: relative;
  top: -45px;
  left: 10px;
  width: 14.5px;
  border-radius: 50% !important;
}
.notificationList li.readed {
  background-color: white;
}
.notificationList li.unread {
  background-color: $blue-light-12;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.badge-notify {
  background: $blue-light;
  position: relative;
  top: -10px;
}
.notify-logo-2 {
  width: 10px;
  display: inline-block;
  height: 0;
  margin: 0;
  position: relative;
  top: -15px;
  right: 20px;
}
.nav.navbar-nav-custom {
  li {
      a {
      .label-indicator {
        position: absolute;
        top: 6px;
        width: 15.25px;
        height: 15.25px;
        left: 25px;
      }
    }
  }
}
