<%= javascript_include_tag "translate" %>
<div class="scrollbar block full tbl-user-member h440" id="style-2">
  <table class="table table-striped table-vcenter">
    <thead class="header-scroll">
      <tr>
        <th class="text-center"><%= t ".choose" %></th>
        <th class="text-center"><%= t ".name" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "job" %>
    </tbody>
  </table>
</div>
