<div class="col-sm-6 col-lg-2 center-block">
  <%= link_to "javascript:void(0)", class: "widget widget-hover-effect2" do %>
    <div class="widget-extra themed-background-dark">
      <h4 class="widget-content-light">
        <strong><%= t "applies.status.#{apply_status.first}" %></strong>
      </h4>
    </div>
    <div class="widget-extra-full">
      <span class="h2 animation-expandOpen">
        <%= percent_status apply_status.second.size, @size_applies %> %
      </span>
    </div>
  <% end %>
</div>
