@import 'color';

.modal-create-form {
  padding-bottom: 0px !important;
}

.btn-close-apply {
  position: relative;
  bottom: 30px;
  margin-left: 5px !important;
}

.title-modal {
  font-weight: bold;
}


.avatar {
  width: 200px;
  height: 200px;
}

.table-user-information {
  margin-bottom: 0 !important;
  border-bottom: 3px solid $gray-light-2;
}

.site-section-top {
  padding-top: 35px !important;
}

.no-border {
  border-top: 0px !important;
}
