$white: #fff;
$white-gray: #e9ebee;
$white-drak: rgba(255, 255, 255, 0.5);
$white-drak-1: rgba(255, 255, 255, 0.6);
$white-light: #f7f7f6;

$grey: #666;
$grey-light: rgba(0,0,0,0.5);
$grey-light1: #eee;
$grey-light2: #ddd;
$grey-light-1: rgba(0, 0, 0, 0.45);

$gray: #e0e0e0;
$gray-light-1: #e2e2e2;
$gray-light-2: #f4f4f4;
$gray-light-3: #f2f2f2;
$gray-light-3: #eaedf1;
$gray-medium-1: #999;
$gray-dark-hard-1: #333;
$gray-dark-hard-2: #424242;
$gray-strong: rgba(0, 0, 0, 0.5);
$gray80: #ccc;
$gray-bold: #888888;

$light: #efefef;
$light-blue-1: #2DCEFF;
$light-blue-2: #00B9F2;
$light-yellow: #ffad33;
$light-blue: #008B8B;
$light-green-6: #6ad2eb;

$blue: #4183D7;
$blue-lavender: #E6E6FA;
$blue-super-light: #f7fdff;
$blue-light: #1bbae1;
$blue-light-7: #07313a;
$blue-light-8: #0099ff;
$blue-light-9: rgba(115, 152, 175, 0.89);
$blue-light-10: #001ba3;
$blue-light-11: #3498db;
$blue-light-12: #edf2fa;
$blue-light-13: #3197EE;
$blue-light-14: #337AB7;

$orange-light: #f7941d;
$orange-medium: #e38008;
$orange-dark: #b76706;

$red: #D91E18;
$red-light: #ff6666;
$red-light1: #d63b3b;
$red-light2: #dd4b39;
$red-light3: #e2001a;
$rose-light: #eb3737;

$green-blue: #00b9f2;
$green: #007e90;
$green-light: #74edd7;
$green-light1: #363945;
$green-sky: #68d084;
$green-light-2: #65d074;
$green-light-3: #468c1f;
$gray-bold: #888888;

$dark: #292929;
$dark-blue: #0e7ccd;
$dark-gray: rgba(0, 0, 0, 0.3);
$dark-gray-light: #777;
$dark-gray-light-1: #dbe1e8;
$dodger-blue: #1593b3;

$black: #000000;
$black-light: #88734d;
$black-lighs: rgba(0, 0, 0, 0.7);
$black-light-1: #454d6c;
$black-light-2: #EAEDE9;
$black-light-3: #9faab7;
$black-light-4: #e2e1e1;
$black-light-5: rgba(0, 0, 0, 0.175);
$black-light-6: #666666;
$black-light1: #394263;

$yellow-light: #edb10a;
$yellow-light-3: #a1a1a1;

$turquoise: #40e0d0;
$moderate-orange: #B97745;
$snow: #f9f9f9;
$accent-color: #B7E9FF;
$chocolate: #e94820;
$darkslategray: #303438
