<tr>
  <td>
    <%= t "devise.mailer.content.hello" %> <%= @resource.email %>!
  </td>
</tr>
<tr>
  <td>
    <%= t "devise.mailer.content.confirm_your_account_email" %>
  </td>
</tr>
<tr>
  <td style="text-align: center;">
    <%= link_to t("devise.mailer.confirmation_instructions.subject"),
      confirmation_url(@resource, confirmation_token: @token), class: "link-website" %>
  </td>
</tr>
